# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.idea
data
outputs

# due to using tox and pytest
.tox
.cache

src/asleep/torch_hub_cache
assets/*.joblib.*
*.ipynb_checkpoints
*.ipynb
src/asleep/models