include tox.ini
include hubconf.py
include constraints/*.txt
include GLOSSARY.md LICENSE.md README.md RELEASING.md
recursive-include tests *.py
recursive-include assets *.graffle *.jpg *.lzma
recursive-include src *.yaml
exclude src/asleep/models *.mdl
recursive-exclude src/asleep/torch_hub_cache *
